.footer{
    display: grid;
    color: white;
    background-color:rgb(33,37,46);
    padding-bottom: 20px;
    padding-top: 20px;
    grid-template-columns: auto auto;
    justify-content: space-around;


    .contact{
        grid-row: 1;
        .contact-title{
            text-align: center;
            align-items: center;
            font-size: 1.2em;
        }
        .contact-info{
            display: grid;
            column-gap: 10px;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            align-items: center;
            & span{
                padding-top: 5px;
            }
        }
    }

    .follow-us{
    grid-row: 1;
    font-size: 2em;
    align-self: center;
        .follow-logo{
            margin-left: 20px;
        }
    }

}

