
$iconsColor :#5386e4;
$inputFocusColor: green;
$inputErrorColor: rgb(207, 31, 31);
$buttonColor: #004E89;
$buttonColorHover: rgb(10, 31, 220);
$buttonColorActive:rgb(51, 77, 133);

.form {
    display:flex;
    flex-direction: column;
    align-items: center;

    .form-div{
        .error-field{
            display: none;
            color: red;
            font-size: 0.6em;
            margin-left: 20%;
            &[show=true]{
                display: block;
            }
        }
        .form-field{
            margin-top: 1em;
            display: flex;
            align-items: center;
            label{
                margin-right: 1em;
                color: $iconsColor;
            }
            .input-field{
                position: relative;
                input{
                    border-radius: 5%;
                    padding: 0.53em 0.5em;
                    border: 0.1em solid #bbbbbb;
                    &:focus{
                    border-color:transparent;
                    border-radius: 5%;
                    box-shadow: 0 0 2px 1px $inputFocusColor;
                    }
                    &[error=true]{
                        border-color: $inputErrorColor;
                        &:focus{
                            box-shadow: 0 0 2px 1px $inputErrorColor;
                        }
                    }
                }
                .placeholder{
                    pointer-events: none;
                    font-family: sans-serif;
                    color: rgba(130,130,130);
                    font-size: 0.9em;
                    transition: font-size 0.2s ease-in,top 0.2s ease-in;
                    position: absolute;
                    padding: 0 1%;
                    top: 50%;
                    margin-left: 0.5em;
                    transform: translateY(-50%);
                    &[active=true]{
                        font-size: 0.5em;
                        margin-left: 0.7em;
                        background-color: white;
                        top: 0;
                    }
                    &[lock=true]{
                        font-size: 0.5em;
                        margin-left: 0.7em;
                        background-color: white;
                        top: 0;
                    }
                }

            }
        }
    }
    .form-button{
        margin: 1em;
        input{
            color: white;
            background-color:$buttonColor;
            border: 0;
            padding: 0.3em 0.7em;
            border-radius: 10%;
            &:hover{
                background-color:$buttonColorHover;
            }
            &:active{
                background-color:$buttonColorActive;
            }
        }
    }
}