.navbar{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.2em;
    padding-top: 0.5em; 
    padding-bottom: 0.5em;
    width: 100%;
    
    a{
        text-decoration: none;
        color:black;
        &:hover{
            color: #575757;
        }
    }
    &.navbar-sticky{
        position: fixed;
        transition: transform 0.3s linear;
        top: 0;
        transform: translate(0,-100%);
        background-color: black;
        z-index: 1;
        color: white;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        border-bottom-width: 0;
        border-bottom:transparent;
        box-shadow: 0px -5px 3px -5px white inset;
        & .links a{
            color: white;
            &:hover{
                color: #bbbbbb;
            }
        }
        & .links-dropdown-menu a{
            color: black;
        }
        &[down=true]{
            transform: translate(0,0);
        }
    }
    .logo{
        display: flex;
    }
    .links a{
        padding-right: 15%;
    }
    .links-dropdownbutton{
        display:none;
        .dropdown-menu{
            display: none;
            position: absolute;
        }
    }
 
    @media screen and (max-width:800px){
        .logo{
            flex: 1 0;
            justify-content: center;
        }
        .links{
            display: none;
        }
        .links-dropdownbutton{
            display: block;
            padding-right: 8%;
           &[focus=true]{
                .dropdown-menu {
                    display: flex;
                    right: 0;
                    transform: translate(-30%,0.3em);
                    padding-top: 1%;
                    padding-bottom: 1%;
                    & a:first-of-type{
                        border-left: transparent;
                        padding-left: 2%;
                    }
                    & a:last-of-type{
                        border-right: transparent;
                        padding-right: 2%;
                    }
                    a {
                        padding-right: 4%;
                        padding-left: 4%;
                        border-right: black;
                        border-left:transparent;
                        border-top: transparent;
                        border-bottom: transparent;
                        border-width: 0.1em;
                        border-style: solid;
                        &:hover{
                            color:dimgray
                        }
                    }
                }
            }
          
        }
                
    }
}